
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(144, 169, 226); */
    background-color:  rgb(100, 103, 168);
    
}
.back{
    height:25em;
    width:100%;
    border-width: 1em;
    border-style: solid;
    border-color: rgb(144, 169, 226) ;

}  
.resumeContainer{
    background-color: rgb(100, 103, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    background-size: cover;
} 
.resumeHeader {
        font-size: 6em;
        font-weight: bold;
        z-index: 2;
        color: #cabbd6; 
        text-align: center;
        position: absolute; 
        top: 35%; 
        left: 50%; 
        padding-bottom: 2em;
        transform: translate(-50%, -50%);
        font-family: serif;
        text-shadow: 2px 2px 4px #4b022f;
    
}
.resumeBtn{
    background-color: #cabbd6;
    color: rgb(100, 103, 168);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: serif;
    margin-top: 2em;
    margin-left: 6em;
}